<div>
    <select id="options">
        <option value="outputs-0.9">AutoHarmonizer (h = 0.9)</option>
        <option value="outputs-0.7">AutoHarmonizer (h = 0.7)</option>
        <option value="outputs-0.5">AutoHarmonizer (h = 0.5)</option>
        <option value ="outputs-baseline">Baseline</option>
    </select>

    <button onclick="show();">Show</button>

    <div id="test_part" hidden="hidden" style="margin-top:20px">
        <div style="text-align:center">
            <p id="audio_name_1" style="text-align:left">Song 1</p>
            <audio id="audio_1" src="audio/val/1.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_1" href="pdf/val/1.pdf" target="_blank">Score</a>
            <form id="form_1" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_2" style="text-align:left">Song 2</p>
            <audio id="audio_2" src="audio/outputs-baseline/1.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_2" href="pdf/outputs-baseline/1.pdf" target="_blank">Score</a>
            <form id="form_2" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_3" style="text-align:left">Song 3</p>
            <audio id="audio_3" src="audio/outputs-0.5/1.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_3" href="pdf/outputs-0.5/1.pdf" target="_blank">Score</a>
            <form id="form_3" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_4" style="text-align:left">Song 4</p>
            <audio id="audio_4" src="audio/outputs-0.7/1.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_4" href="pdf/outputs-0.7/1.pdf" target="_blank">Score</a>
            <form id="form_4" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
    
        <div style="text-align:center; margin-top:20px">
            <p id="audio_name_5" style="text-align:left">Song 5</p>
            <audio id="audio_5" src="audio/outputs-0.9/1.mp3" type="audio/mpeg" controls controlsList="nodownload">Your browser does not support the audio element.</audio>
            <a id="score_5" href="pdf/outputs-0.9/1.pdf" target="_blank">Score</a>
            <form id="form_5" style="margin-top:20px">
                <input type="radio" name="predict" value="val">Human
                <input type="radio" name="predict" value="outputs">Machine
            </form>
        </div>
        <div style="text-align:center; margin-top:20px; margin-bottom:20px" >
            <button onclick="judge();">Submit</button>                
        </div>
    </div>
</div>

<script lang="javascript">
    var audio_names = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20'];

    function show()
    {
        document.getElementById("test_part").removeAttribute("hidden");
        for (var i=1; i<=5; i++)
        {
            var form_id = "form_" + i.toString();
            document.getElementById(form_id)[0].checked=false;
            document.getElementById(form_id)[1].checked=false;
        }
        var x = 0; // Avoid all 0 or all 1 situations
        for (var i=1; i<=5; i++)
        {
            var audio_num = audio_names.length;
            var r1 = Math.round(Math.random()); // 0 or 1
            x += r1;
            if (i == 5 && (x == 0 || x == 5)) r1 = 1 - r1;
            var audio_path = "audio/"
            var pdf_path = "pdf/"
            var option = document.getElementById("options").value;
            if (r1 == 0) 
            {
                audio_path += "val/";
                pdf_path += "val/";
            }
            else
            {
                audio_path += option + "/";
                pdf_path += option + "/";
            }
            var r3 = Math.floor(Math.random()*audio_num);
            audio_path += audio_names[r3] + ".mp3"
            pdf_path += audio_names[r3] + ".pdf"
            var audio_name_id = "audio_name_" + i.toString();
            var audio_id = "audio_" + i.toString();
            var pdf_id = "score_" + i.toString();
            //document.getElementById(audio_name_id).innerHTML = audio_path;
            document.getElementById(audio_id).src = audio_path;
            // document.getElementById(pdf_id).innerHTML = "Score of " + audio_names[r3];
            document.getElementById(pdf_id).href = pdf_path;
        }
    }

    function judge()
    {
        var ans = new Array();
        var acc = 0
        for (var i=1; i<=5; i++)
        {
            var audio_id = "audio_" + i.toString();
            var form_id = "form_" + i.toString();
            var src = document.getElementById(audio_id).src;
            if (src.match("val")) ans[i] = "val";
            else ans[i] = "outputs";
            if (document.getElementById(form_id).predict.value == ans[i]) acc += 20;
        }
        var show_str = "Your accuracy: " + acc.toString() + "%\n";
        show_str += "The right answers are\n";
        for (var i=1; i<=5; i++)
        {
            if (ans[i] == "val") show_str += "Song " + i.toString() + ": " + "Human" + "\n";
            else show_str += "Song " + i.toString() + ": " + "Machine" + "\n";
        }
        alert(show_str);
    }
</script>
